h1, h3, h4, a {
  font-family: "Courier New";
}

h3 {
  text-align: center;
}

h1 {
  vertical-align: middle;
  margin: auto;
}

html {
  background: url("images/portfolio_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.title_wrap {
  padding: 10px 16px;
  color: rgb(0,0,0);
  text-align: center;
}

.bracelet_wrap, .health_wrap {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.content {
  padding: 16px;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.profile {
  transform: rotate(-90deg);
  width: 200px;
  height: 200px;
}

.projects_wrap {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(26, 170, 237);
}

footer {
  display: block;
  text-align: center;
  color: rgb(0,0,0);
  border-top: 1px solid black;
  padding-top: 5px;
}
