a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(26, 170, 237);
}

footer {
  display: block;
  text-align: center;
  color: rgb(0,0,0);
  padding-top: 5px;
}

.about_me_wrap {
  clear: left;
  overflow: hidden;
  padding-left: 25%;
  padding-right: 25%;
}

.interests_wrap {
  padding-left: 25%;
  padding-right: 25%;
}

.bracelet_wrap, .health_wrap {
  display: block;
  margin: auto;
  float: left;
  width: 35%;
  overflow: hidden;
}

.content {
  padding: 16px;
  text-align: center;
}

.description {
  color: rgb(139, 150, 164);
  font-family: arial, sans-serif;
  text-align: justify;
}

.font {
  font-family: "Helvetica";
}

.line {
  border-top: 1px solid black;
  width: 100%;
}

.profile {
  float: left;
  height: 150px;
  opacity: 0.4;
  transform: rotate(-90deg);
  width: 200px;
}

.profile:hover {
  opacity: 1.0;
}

.projects_wrap {
  display: flex;
  margin: auto;
}

.title_wrap {
  padding: 10px 16px;
  color: rgb(0,0,0);
  text-align: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

@media only screen and (max-width: 1000px) {
  .profile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .bracelet_wrap, .health_wrap {
    display: block;
    margin: auto;
    float: none;
    width: 100%;
  }

  .projects_wrap {
    display: block;
  }
}
